on init
    mkdir /sec_storage

on init
    chmod 0400 /dev/hisi_teelog

service teecd /system/sbin/teecd
    socket tee-multi-user stream 660 root system
    class core
    user root
    group root
    seclabel u:r:tee:s0

service teelogcat /system/bin/tlogcat -f
   class late_start
   user root
   group system
   disabled
   seclabel u:r:hisilogcat:s0

on property:persist.sys.huawei.debug.on=1
   start teelogcat

on property:persist.sys.huawei.debug.on=0
   stop teelogcat
