on early-init

on init

on early-fs

on fs

on post-fs

on post-fs-data
	mkdir /data/nfc
	chown nfc nfc /data/nfc

on early-boot
        #write /sys/bus/platform/drivers/huawei,altek6045/firmware /system/miniisp/CARRERA/

	service HwCamCfgSvr /system/bin/HwCamCfgSvr hi3650 NEXT
	class main
	user media
	group audio camera inet net_bt net_bt_admin net_bw_acct mediadrm system
	service tui-daemon /system/bin/tui_daemon
	class main
	group system
	socket tui_daemon stream 660 root system graphics

	service vr_daemon /system/bin/vr_daemon
	class main
	user system
	group system
	socket vr_daemon stream 660 root system graphics

on boot
        chmod  0660  /dev/fingerprint
        chown  system  system  /dev/fingerprint
        chmod  0660  /sys/devices/platform/fingerprint/irq
        chown  system  system  /sys/devices/platform/fingerprint/irq
        chmod  0660  /sys/devices/platform/fingerprint/result
        chown  system  system  /sys/devices/platform/fingerprint/result
        chown  system system /sys/devices/platform/fingerprint/fingerprint_chip_info

	chown nfc nfc /sys/nfc/nfc_fwupdate
	chmod 0664 /sys/nfc/nfc_fwupdate
	chown nfc nfc /sys/nfc/nxp_config_name
	chmod 0664 /sys/nfc/nxp_config_name
	chown nfc nfc /sys/nfc/nfc_brcm_conf_name
	chmod 0664 /sys/nfc/nfc_brcm_conf_name
	chown nfc nfc /sys/nfc/nfc_sim_switch
	chmod 0664 /sys/nfc/nfc_sim_switch
	chown nfc nfc /sys/nfc/nfc_sim_status
	chmod 0444 /sys/nfc/nfc_sim_status
	chown nfc nfc /sys/nfc/rd_nfc_sim_status
	chmod 0444 /sys/nfc/rd_nfc_sim_status
	chown nfc nfc /sys/nfc/nfc_enable_status
	chmod 0664 /sys/nfc/nfc_enable_status
	chown nfc nfc /sys/nfc/nfc_card_num
	chmod 0444 /sys/nfc/nfc_card_num
	chown nfc nfc /sys/nfc/nfc_chip_type
	chmod 0444 /sys/nfc/nfc_chip_type
	chown nfc nfc /sys/nfc/nfc_fw_version
	chmod 0444 /sys/nfc/nfc_fw_version
	chown nfc nfc /sys/nfc/nfcservice_lock
	chmod 0664 /sys/nfc/nfcservice_lock
	chown nfc nfc /sys/nfc/nfc_svdd_sw
	chmod 0664 /sys/nfc/nfc_svdd_sw
	chown nfc nfc /sys/nfc/nfc_close_type
	chmod 0664 /sys/nfc/nfc_close_type
	chown nfc nfc /sys/nfc/nfc_single_channel
	chmod 0444 /sys/nfc/nfc_single_channel

        chown system system /sys/power/monitor/ap_sleep 
        chmod 0660 /sys/power/monitor/ap_sleep  
        chown system system /sys/power/monitor/iom3_sleep   
        chmod 0660 /sys/power/monitor/iom3_sleep    
        chown system system /sys/power/monitor/modem_sleep  
        chmod 0660 /sys/power/monitor/modem_sleep   
        chown system system /sys/power/monitor/suspend_failed   
        chmod 0660 /sys/power/monitor/suspend_failed    
        chown system system /sys/power/monitor/freezing_failed  
        chmod 0660 /sys/power/monitor/freezing_failed   
        chown system system /sys/power/monitor/wakeup_abnormal  
        chmod 0660 /sys/power/monitor/wakeup_abnormal   
        chown system system /sys/power/monitor/driver_abnormal  
        chmod 0660 /sys/power/monitor/driver_abnormal   
        chown system system /sys/power/monitor/wakeup_irq   
        chmod 0660 /sys/power/monitor/wakeup_irq    
        chown system system /sys/power/monitor/icc_vote 
        chmod 0660 /sys/power/monitor/icc_vote  
        chown system system /sys/power/monitor/sensorhub_event  
        chmod 0660 /sys/power/monitor/sensorhub_event   
        chown system system /sys/power/monitor/soc_vote 
        chmod 0660 /sys/power/monitor/soc_vote
        chown system system /sys/power/monitor/wakeup_gpio
        chmod 0660 /sys/power/monitor/wakeup_gpio
        chown system system /sys/power/monitor/modem_reason
        chmod 0660 /sys/power/monitor/modem_reason
