on early-init

on init

on early-fs

on fs

on post-fs

on post-fs-data

    mkdir /data/gps
    mkdir /data/gps/log
    chmod 770 /data/gps/log
    mkdir /data/hwzd_logs/gps_log
    mkdir /data/hwzd_logs/gps_log/.tmp
    chmod 775 /data/hwzd_logs/gps_log
    chmod 775 /data/hwzd_logs/gps_log/.tmp
    chown root system /data/hwzd_logs/gps_log
    chown gps system /data/hwzd_logs/gps_log/.tmp
	
    mkdir /data/hwzd_logs/gps_log/ipa
    mkdir /data/hwzd_logs/gps_log/ipa/log
    chmod 775 /data/hwzd_logs/gps_log/ipa
    chmod 775 /data/hwzd_logs/gps_log/ipa/log
    chown root system /data/hwzd_logs/gps_log/ipa
    chown root system /data/hwzd_logs/gps_log/ipa/log

    mkdir /data/hwzd_logs/gps_log/gps
    mkdir /data/hwzd_logs/gps_log/lhd
    chmod 775 /data/hwzd_logs/gps_log/gps
    chmod 775 /data/hwzd_logs/gps_log/lhd
    chown gps system /data/hwzd_logs/gps_log/gps
    chown gps system /data/hwzd_logs/gps_log/lhd

    mkdir /data/hwzd_logs/gps_log/gps/.tmp
    mkdir /data/hwzd_logs/gps_log/lhd/.tmp
    chmod 775 /data/hwzd_logs/gps_log/gps/.tmp
    chmod 775 /data/hwzd_logs/gps_log/lhd/.tmp
    chown gps system /data/hwzd_logs/gps_log/gps/.tmp
    chown gps system /data/hwzd_logs/gps_log/lhd/.tmp


    chown system system /data/gps
    chmod 775 /data/gps

on early-boot

on boot
    chown root system /dev/ttyAMA3
    chmod 0664 /dev/ttyAMA3
    chown root system /dev/gpstty
    chmod 0664 /dev/gpstty
    chown gps system /dev/appvcom9
    chmod 0664 /dev/appvcom9
    chown root system /proc/gps/nstandby
    chmod 0664 /proc/gps/nstandby

    chmod 660 /data/gps/.flp.interface.pipe.to_gpsd
    chmod 660 /data/gps/.flp.interface.pipe.to_jni
    chmod 660 /data/gps/.gps.interface.pipe.to_gpsd
    chmod 660 /data/gps/.gps.interface.pipe.to_jni
    chmod 660 /data/gps/.pipe.gpsd_to_lhd.to_client
    chmod 660 /data/gps/.pipe.gpsd_to_lhd.to_server

    service gpsdaemon /system/bin/gpsdaemon
    class late_start
    oneshot

    service gpsd_47531  /system/bin/glgps47531 -c /data/gps/gpsconfig.xml
    socket gps seqpacket 660 gps system
    class late_start
    user gps
    group system inet sdcard_rw
    disabled

    service gpsdcl_47531  /system/bin/glgps47531cl -c /data/gps/gpsconfig.xml
    socket gps seqpacket 660 gps system
    class late_start
    user gps
    group system inet sdcard_rw
    disabled

    service gpsd_4752  /system/bin/glgps4752 -c /data/gps/gpsconfig.xml
    socket gps seqpacket 660 gps system
    class late_start
    user gps
    group system inet sdcard_rw
    disabled

    service ipld /system/bin/inv_ipld  /system/etc/inv_ipld_beta.prop
    class late_start
    user system
    group system
    disable

    service lhd_4774  /system/bin/lhd4774  /data/gps/lhd.conf
    class late_start
    user gps
    group system inet net_raw sdcard_rw
    ioprio be 0
    disabled

    service lhdcl_4774  /system/bin/lhd4774cl  /data/gps/lhd.conf
    class late_start
    user gps
    group system inet net_raw sdcard_rw
    ioprio be 0
    disabled

    service gpsd_4774  /system/bin/glgps4774 -c /data/gps/gpsconfig.xml
    socket gps seqpacket 660 gps system
    class late_start
    user gps
    group system inet sdcard_rw
    disabled

    service gpsdcl_4774  /system/bin/glgps4774cl -c /data/gps/gpsconfig.xml
    socket gps seqpacket 660 gps system
    class late_start
    user gps
    group system inet sdcard_rw
    disabled

