on early-init
        setprop ro.sf.lcd_density 560

on init

on early-fs

on fs

on post-fs

on post-fs-data
	mkdir /data/nfc
	chown nfc nfc /data/nfc

on early-boot
	service HwCamCfgSvr /system/bin/HwCamCfgSvr hi3650 BTV
	class main
	user media
	group audio camera inet net_bt net_bt_admin net_bw_acct drmrpc mediadrm system dsm

on early-boot
	service tui-daemon /system/bin/tui_daemon
	class main
	group system
	socket tui_daemon stream 660 root system graphics

on early-boot
	service vr_daemon /system/bin/vr_daemon
	class main
	user system
	group system
	socket vr_daemon stream 660 root system graphics		

on boot
        setprop hw.lcd.density 560

        chmod  0660  /dev/fingerprint
        chown  system  system  /dev/fingerprint
        chmod  0660  /sys/devices/platform/fingerprint/irq
        chown  system  system  /sys/devices/platform/fingerprint/irq	
        chown system system /sys/devices/platform/fingerprint/fingerprint_chip_info

    chown system system /sys/power/monitor/ap_sleep 
    chmod 0660 /sys/power/monitor/ap_sleep  
    chown system system /sys/power/monitor/iom3_sleep   
    chmod 0660 /sys/power/monitor/iom3_sleep    
    chown system system /sys/power/monitor/modem_sleep  
    chmod 0660 /sys/power/monitor/modem_sleep   
    chown system system /sys/power/monitor/suspend_failed   
    chmod 0660 /sys/power/monitor/suspend_failed    
    chown system system /sys/power/monitor/freezing_failed  
    chmod 0660 /sys/power/monitor/freezing_failed   
    chown system system /sys/power/monitor/wakeup_abnormal  
    chmod 0660 /sys/power/monitor/wakeup_abnormal   
    chown system system /sys/power/monitor/driver_abnormal  
    chmod 0660 /sys/power/monitor/driver_abnormal   
    chown system system /sys/power/monitor/wakeup_irq   
    chmod 0660 /sys/power/monitor/wakeup_irq    
    chown system system /sys/power/monitor/icc_vote 
    chmod 0660 /sys/power/monitor/icc_vote  
    chown system system /sys/power/monitor/sensorhub_event  
    chmod 0660 /sys/power/monitor/sensorhub_event   
    chown system system /sys/power/monitor/soc_vote 
    chmod 0660 /sys/power/monitor/soc_vote
    chown system system /sys/power/monitor/wakeup_gpio
    chmod 0660 /sys/power/monitor/wakeup_gpio
    chown system system /sys/power/monitor/modem_reason
    chmod 0660 /sys/power/monitor/modem_reason 
