
service gnss_engine /system/bin/gnss_engine -factory
    class server
    user root
    oneshot

service agnsscontrol /system/bin/agnsscontrol -factory
    class server
    user root
    oneshot

service octty /system/bin/octty
    class server
    user root
    oneshot
service hisi_bfg_rec /system/bin/hisi_connectivity.sh recovery
    class server
    user root
    oneshot
service fm_server_hisi /system/bin/fm_server_hisi
    class server
    user root
    oneshot