on early-init

on init

on early-fs

on fs

on post-fs

on post-fs-data
	mkdir /data/nfc
	chown nfc nfc /data/nfc

on early-boot
	service HwCamCfgSvr /system/bin/HwCamCfgSvr hi3650 NEXT
	class main
	user media
	group audio camera inet net_bt net_bt_admin net_bw_acct drmrpc mediadrm system dsm

on early-boot
	service tui-daemon /system/bin/tui_daemon
	class main
	group system
	socket tui_daemon stream 660 root system graphics

on boot
        chmod  0660  /dev/fingerprint
        chown  system  system  /dev/fingerprint
        chmod  0660  /sys/devices/platform/fingerprint/irq
        chown  system  system  /sys/devices/platform/fingerprint/irq
	chown system system /sys/devices/platform/fingerprint/fingerprint_chip_info

	chown nfc nfc /sys/nfc/nfc_fwupdate
	chmod 0664 /sys/nfc/nfc_fwupdate
	chown nfc nfc /sys/nfc/nxp_config_name
	chmod 0664 /sys/nfc/nxp_config_name
	chown nfc nfc /sys/nfc/nfc_brcm_conf_name
	chmod 0664 /sys/nfc/nfc_brcm_conf_name
	chown nfc nfc /sys/nfc/nfc_sim_switch
	chmod 0664 /sys/nfc/nfc_sim_switch
	chown nfc nfc /sys/nfc/nfc_sim_status
	chmod 0444 /sys/nfc/nfc_sim_status
	chown nfc nfc /sys/nfc/rd_nfc_sim_status
	chmod 0444 /sys/nfc/rd_nfc_sim_status
	chown nfc nfc /sys/nfc/nfc_enable_status
	chmod 0664 /sys/nfc/nfc_enable_status

