: Copyright (C) 2008 The Android Open Source Project


on early-init
    setprop ro.connectivity.chiptype "hisi"
    setprop wifi.interface wlan0
    setprop is_hisi_connectivity_chip 1
	setprop ro.hardware.consumerir "hisi.hi3650"

on post-fs-data
    chmod 0660 /data/misc/wifi/wpa_supplicant.conf
     chmod 660 /dev/ttyAMA3              
     chown system system /dev/ttyAMA3

service netd /system/bin/netd
    class main 
    socket netd stream 0660 root system
    socket dnsproxyd stream 0660 root inet 
    socket mdns stream 0660 root system

service chr_logd /system/bin/chr_logd
    class main
    user system
    group system root bluetooth wifi
    disabled

service octty /system/bin/octty
    class main
    user system
    group system bluetooth root media
    disabled

service oam_hisi /system/bin/oam_hisi
    class main
    user system
    group system root wifi bluetooth
    disabled
    oneshot

service fm_server_hisi /system/bin/fm_server_hisi
    class main
    user system
    group system
    disabled

service hisi_bfg /system/bin/start_connectivity_hisi
    class late_start
    user root
    group system
    disabled
    oneshot

service macaddr /system/bin/mac_addr_normalization
    class core
    user root
    group root bluetooth net_bt_stack wifi
    oneshot

on property:ro.debuggable=*
    write /dev/kmsg "hisi_110x driver insmod begin starting"
    start hisi_bfg
    write /dev/kmsg "hisi_110x driver insmod has started"

on property:setup_hi110x_modules=success
    start octty
    write /dev/kmsg "octty has started    "
    start oam_hisi
    write /dev/kmsg "oam_hisi has started    "
    start hsgnss
    write /dev/kmsg "hsgnss has started"
    start agnsscontrol
    write /dev/kmsg "agnsscontrol has started"
    start supl20clientd
    write /dev/kmsg "sup120clientd has started"
    start watchlssd
    write /dev/kmsg "watchlssd has started"
    start fm_server_hisi
    write /dev/kmsg "fm_server_hisi has started"


service wpa_supplicant /system/bin/wpa_supplicant_hisi \
    -iwlan0 -Dnl80211 -c/data/misc/wifi/wpa_supplicant_hisi.conf \
    -e/data/misc/wifi/entropy.bin -g@android:wpa_wlan0
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

service p2p_supplicant /system/bin/wpa_supplicant_hisi \
    -iwlan0 -Dnl80211 -c/data/misc/wifi/wpa_supplicant.conf \
    -e/data/misc/wifi/entropy.bin -g@android:wpa_wlan0 \
    -N \
    -ip2p0 -Dnl80211 -c/data/misc/wifi/p2p_supplicant.conf -e/data/misc/wifi/entropy.bin -g@android:wpa_wlan0
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

service hostapd_bin /system/bin/hostapd_hisi -d /data/misc/wifi/hostapd_hisi.conf
		socket wpa_wlan0 dgram 660 wifi wifi
    class main
    disabled
    oneshot

service hsgnss /system/bin/gnss_engine -normal
    class main
    user system
    group system inet root
    disabled

service agnsscontrol /system/bin/agnsscontrol -normal
    class main
    user system
    group system inet root
    disabled

service supl20clientd /system/bin/supl20clientd
    class main
    user system
    group system inet
    disabled

service watchlssd /system/xbin/watchlssd
    class main
    user system
    group system inet net_raw
    disabled

on property:bluetooth.log.file.create=true
   mkdir /data/hwzd_logs/bt
   chown bluetooth bluetooth /data/hwzd_logs/bt
   chmod 775 /data/hwzd_logs/bt

   setprop bluetooth.log.file.create false
